{% extends 'base.html' %}

{% block content %}
  <h2 class="text-3xl font-bold mb-4">Lista de controles</h2>

  {% if controles %}
    <div class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr))] gap-6 place-content-center">
      {% for control in controles %}
        <div class="p-6 shadow-md border-gray-200 rounded-lg dark:border-gray-700">
          <ul>
            <li class="line-clamp-2 flex flex-col gap-1 mb-2">
              <b>ID:</b> <span>{{ control.codigo_control }}</span>
            </li>

            <li class="line-clamp-2 flex flex-col gap-1 mb-2">
              <b>Nombre:</b> <span>{{ control.nombre_control }}</span>
            </li>

            <li class="line-clamp-2 flex flex-col gap-1 mb-2">
              <b>Descripción:</b> <span>{{ control.descripcion_control }}</span>
            </li>
          </ul>

          <div class="flex flex-wrap gap-2 mt-4">
            <a
              href="{% url 'encabezado' control.codigo_control %}"
              class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
            >
              Encabezado
            </a>
            
            <a
              href="{% url 'diseño' control.codigo_control %}"
              class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
            >
              Diseño
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Aún hay controles registrados.</p>
  {% endif %}

{% endblock %}
