{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center text-3xl font-bold mb-4">Encabezado del Control</h2>

  <!-- Control Data -->
  <div class="p-6 shadow-md border-gray-200 rounded-lg dark:border-gray-700 mb-4">
    <ul>
      <li class="flex flex-col gap-1 mb-2">
        <b>ID:</b> <span>{{ control.codigo_control }}</span>
      </li>

      <li class="flex flex-col gap-1 mb-2">
        <b>Nombre:</b> <span>{{ control.nombre_control }}</span>
      </li>

      <li class="flex flex-col gap-1 mb-2">
        <b>Descripción:</b> <span>{{ control.descripcion_control }}</span>
      </li>
    </ul>
  </div>

  <h2 class="text-center text-3xl font-bold mb-4">Ingresa aquí tu información</h2>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label
        for="production_date"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Fecha Elaboración:
      </label>

      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
        </div>

        <input
          autocomplete="off"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
          datepicker
          id="production_date"
          name="production_date"
          placeholder="mm/dd/yyyy"
          type="text"
          value="{{ encabezado.fecha_elaboracion|date:'m/d/Y' }}"
        >
      </div>
    </div>

    <div class="mb-3">
      <label
        for="state"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Estado:
      </label>

      {{ encabezado.estado }}
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        id="state"
        name="state"
        value="{{ encabezado.estado|default:'' }}"
      >
        <option value="" disabled selected>Selecciona un estado</option>
        <option value="Sin iniciar">Sin Iniciar</option>
        <option value="En proceso">En Proceso</option>
        <option value="Terminado">Terminado</option>
        <option value="No Evaluado">No Evaluado</option>
      </select>
    </div>

    <div class="mb-3">
      <label
        for="total_hours_invested"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Total Horas invertidas:
      </label>

      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        id="total_hours_invested"
        name="total_hours_invested"
        placeholder="Ingresa un número"
        type="number"
        value="{{ diseño.total_horas_invertidas|default:'' }}"
      />
    </div>

    <div class="mb-3">
      <label
        for="resources_consulted"
        class="block mb-2 text-sm font-medium text-gray-900"
      >
        Recursos Consultados:
      </label>

      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        id="resources_consulted"
        name="resources_consulted"
        placeholder="Respuesta Obligatoria para dar por finalizado el control"
        value="{{ diseño.recursos_consultados|default:'' }}"
      />
    </div>

    <button
      class="text-white text-center bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 items-center dark:focus:ring-[#050708]/50 me-2 mb-2"
    >
      {% if encabezado %}
        Actualizar
      {% else %}
        Guardar
      {% endif%}
    </button>
  </form>
{% endblock %}
